
* {
    padding: 0;
    margin: 0;

    font-family: 'Mochiy Pop P One', sans-serif;
  }
  .wrapper{
    padding: 1.5%;
    margin: 0% auto;
  border-radius: 7px;

position:fixed;
    width: 100%;
    background-color:#FF2E63;
    color: aliceblue;

}
body{
  background-color: #FFDE7D;
  
}

.text-center{
  text-align: center;
}
.head {
  list-style-type: none;
}

.head ul li {
  display: inline;
  
  padding: 1%;
}
.head ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;

  
}
.head ul li a:hover {
  color: rgb(216, 110, 110);
}
.responsive {
  width: 70%;
  margin-left: auto;
  display: block;
  margin-right: auto;
  height: auto;
  align-items: center;
  max-width: 400px;

}
.text{
  font-weight: bold;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}
.blink_me {
  animation: blinker 1s linear infinite;
  text-align: center;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* Dropdown Button */
.dropbtn {
  background-color: #FF2E63;
  color: white;
  padding: 16px;
  font-size: 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #e92604;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  border-radius: 20px;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #FFDE7D;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FDB200;
  min-width: 230px;
  border: 1px solid #ddd;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.dropdown{
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.footer
{
  padding: 1%;
  margin: 0% auto;
border-radius: 7px;

  width: auto;
  background-color:#FF2E63;
  color: aliceblue;
}
